<p class="h4 mb-4">Add Course Image</p>
<img *ngIf="course.image" src={{course.image}} width="150" height="170" /><br />
<div *ngIf="!course.image">Loading Image</div>
<input type="file" id="file" multiple (change)="getFileDetails($event)" [(ngModel)]="course.image">    
<br><br>
<br><br>
<div *ngIf="error">
<p style="color:red;">{{errorString}}</p>
</div>
<div class="row">
</div>
<!-- Sign up button -->
<button mdbBtn color="info" block="true" class="my-4" type="submit"  (click)="uploadFiles()">Submit</button>
<button mdbBtn color="info" block="true" routerLink="../step-2"  routerLink="" class="my-4" type="submit">Back</button>

<!-- Social register -->
<hr>
<!-- Default form register -->