<!-- Default form register -->
<p class="h4 mb-4">Upload Course</p>
<div style="overflow:scroll; height:calc(100vh - 400px);" >
  <div *ngFor="let video of videos; let i = index" >
    <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" [(ngModel)]="videos[i].name" placeholder="Video Title">
    <!--<input type="file" id="file" multiple (change)="getFileDetails($event , i)">-->
    <file-upload [(ngModel)]="uploadedVids[0].array[i]" [multiple]="false"  name="files" (change)="getFileDetails($event , i)" [animation]="true"></file-upload>
  
    <hr>
  </div>
</div>

{{progress}}    

<button mdbBtn color="info" block="true" class="my-4 w-25"  (click)="addRow()">+ Add</button>
<br><br>
<br><br>
<div *ngIf="error">
  <p style="color:red;">{{errorString}}</p>
</div>
<div class="row">
</div>
<!-- Sign up button -->
<button mdbBtn color="info" block="true" class="my-4"  (click)="submit()">Next</button>
<button mdbBtn color="info" block="true" routerLink="" class="my-4" (click)="back()">Back</button>
<!-- Social register -->
<hr>
<!-- Default form register -->