<!-- Default form register -->
  <p class="h4 mb-4">Register Course</p>
  <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" name="courseName" [(ngModel)]="course.name" placeholder="How to Make Italian Lasagne">
  <div>
    <label>Category:</label>
    <select class="form-control" [(ngModel)]="course.category" name="category">
      <option>Mexican</option>
      <option>Asian</option>
      <option>Italian</option>
      <option>Middle Eastern</option>
      <option>Indian</option>
      <option>American</option>
      <option>Drinks</option>
      <option>Baking</option>
      <option>Fitness</option>
    </select>
  </div>
<br><br>
<input type="number" id="defaultRegisterFormEmail" name="coursePrice"  class="form-control mb-4 w-50" placeholder="$49.99" [(ngModel)]="course.price">
<textarea class="form-control" aria-label="With textarea" name="courseDesc"  placeholder="Description" [(ngModel)]="course.description"></textarea>
<br><br>
<div *ngIf="error">
<p style="color:red;">{{errorString}}</p>
</div>
 <div class="row">
  </div>
  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" (click)="submit(course)" class="my-4" type="submit">Next</button>
  <!-- Social register -->
  <hr>
<!-- Default form register -->