    <p class="h4 mb-4">Preview</p>
    <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4"  name="courseImage" [(ngModel)]="course.image" placeholder="Course Main Image">
    <input type="file" id="file" multiple (change)="getFileDetails($event)" [(ngModel)]="course.productImage">    

    <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Upload Teaser">
<br><br>
<br><br>
   <div class="row">
    </div>
    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit"  (click)="uploadFiles()">Submit</button>
    <button mdbBtn color="info" block="true" routerLink="../step-2"  routerLink="" class="my-4" type="submit">Back</button>

    <!-- Social register -->
    <hr>
  <!-- Default form register -->