    <p class="h4 mb-4">Add Course Image</p>
    <input type="file" id="file" multiple (change)="getFileDetails($event)">    

<br><br>
<br><br>
<div *ngIf="error">
  <p style="color:red;">{{errorString}}</p>
</div>
   <div class="row">
    </div>
    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4"  (click)="uploadFiles()">Submit</button>
    <button mdbBtn color="info" block="true" routerLink="../step-2"  routerLink="" (click)="back()" class="my-4">Back</button>

    <!-- Social register -->
    <hr>
  <!-- Default form register -->