.main{
    height:100vh; 
}
@media screen and (min-width: 1300px) {
    .viewer-size{
        width:130%;
        flex: 43 0 13.666667% !important;
        max-width: 100%!important;
        margin-left:10px;
    }
    .main{
        padding-left:20%;padding-right:20%
    }
}